
h1 {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #006ab0;
}

main {
    min-width: 50%;
}

textarea {
    resize: none;
    font-size: 1rem;
    padding: 1em;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.478);
    border-radius: 7px;
    margin-top: 2em;
    width: 100%
    
    
}